absl-py==0.9.0
affine==2.4.0
astor==0.8.1
attrs==19.3.0
blosc==1.10.6
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.2
descartes==1.1.0
dill==0.3.7
dynaconf==3.1.11
Fiona==1.8.13.post1
gast==0.2.2
geojson==3.1.0
geopandas==0.7.0
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
idna==3.7
imagecodecs==2021.11.20
imageio==2.8.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.9.0
Markdown==3.2.1
matplotlib==3.2.1
mercantile==1.2.1
munch==2.5.0
networkx==2.4
numpy==1.21.6
opt-einsum==3.2.0
pandas==1.0.3
Pillow==9.5.0
protobuf==3.11.3
pyparsing==2.4.6
pyproj==2.6.0
python-dateutil==2.8.1
pytz==2024.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.31.0
Rtree==0.9.4
scikit-image==0.16.2
scipy==1.4.1
seaborn==0.10.0
shapely==2.0.3
six==1.14.0
StrEnum==0.4.15
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tqdm==4.66.2
urllib3==1.26.18
Werkzeug==1.0.0
wrapt==1.12.1
